@import url('https://fonts.googleapis.com/css?family=Comfortaa:700&display=swap');

.nav-head {
    height: 100vh;

    background-image: url(/img/head-back.jpg);
    background-size: cover;

}

.nav-head::after {
    content: "";
    background-color: black;
    height: 100%;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;

    opacity: 80%;
}

nav {
    font-size: 1.1rem;
    font-family: 'Comfortaa', cursive;

    z-index: 1;
}

.nav-head nav {
    padding: 1% 10%;
}

.navbar-brand {
    color: red !important;

    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    font-weight: bolder;
}

nav li {
    margin: 0 20px;
}