@import url('https://fonts.googleapis.com/css?family=Montserrat|Comfortaa:700&display=swap');

.nav-head {
    height: 100vh;

    background-image: url(/img/head-back.jpg);
    background-size: cover;
    background-position: center center;
    z-index: 0;

}

.nav-head::after {
    content: "";
    background-image: linear-gradient(to top, rgba(0, 0,0, 0.6), rgba(0,0,0,1));
    height: 100%;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;

    z-index: 0;
}

nav {
    font-size: 1.1rem;
    font-family: 'Comfortaa', cursive;


    z-index: 1;
}

.nav-head nav {
    padding: 20px 10%;
}

.navbar-brand {
    color: red !important;

    font-size: 1.7rem;
    letter-spacing: 0.1rem;
    font-weight: bolder;
}

nav li {
    margin: 0 10px;
    font-family: 'Montserrat', sans-serif;
}

.page-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85%;
}

.page-head {
    position: relative;
    color: white;
    z-index: 1;

    font-family: 'Montserrat', sans-serif;
    font-size: 5rem;
    font-weight: bolder;
}


.second-section {
    width: 100vw;
    height: 100vh;

    padding-top: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

    text-align: center;
}

.list-head {
    border-bottom: 5px solid  red;
    margin: 0 30%;
    margin-bottom: 10rem;

}

@media screen and (max-width: 450px) {
    .page-head {
        font-size: 3.5rem;
    }

    .list-head {
        font-size: 2rem;
    }
}

.list-item {
    background-color: lightgray;

    width: 90%;
    height: 250px;

    border-radius: 10px;
}
  